@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}
body{
  background-color: black;
  color: white;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

section:nth-child(1) {
  color: #1d212b;
}
section:nth-child(2) {
  color: #1d212b;
  background: #fff;
}
section:nth-child(3) {
  color: #1d212b;
}
section:nth-child(4) {
  color: #1d212b;
  background: #fff;
}

section .container {
  margin: 100px;
}
section h1{
  font-size: 60px;
}
section h2{
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

section .cards{
  display: flex;
}

section .cards .text-cards{
  background-color: aliceblue;
  margin: 20px;
  padding: 20px;
}

section .cards .text-cards h3{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  section h1{
    font-size: 40px;
  }

  section .cards {
    flex-direction: column;
  }
}
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}
